.l-header{
    /* POSITION */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;

    /* TIPOGRAPHY */
    color: var(--white);
    
    /* SIZE */
    width: 100vw;
}

.l-header__title{
    letter-spacing: .5rem;
    text-transform: uppercase;
}
