.l-header{
    position: absolute;

    /* TIPOGRAPHY */
    color: var(--white);
    
    /* SIZE */
    height: 30vh;
    width: 100vw;
    
    /* BACKGROUND */
    background: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.l-header__title{
    align-items: center;
    display: flex;
    justify-content: space-between;
    letter-spacing: .7rem;
    margin-top: 50px;
    text-transform: uppercase;
}