*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    /* TIPOGRAPHY */
    font-family: var(--font-family--main);
    font-weight: var(--font-weight--normal);
    font-size: var(--font-size--main);
    color: var(--dark-gray);

    /* BACKGROUND */
    
    width: 100%;
    background-image: var(--bg-mobile-light);
    background-color: var(--very-light-gray);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    min-height: 100vh;
    transition: var(--transition);

    /* POSITION */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.l-main{
    width: 100vw;
}

.container{
    padding: 0 20px;
}

.hide {
    display: none;
}

.active{
    color: var(--bright-blue);
    transition: .5s;
}

.line-through{
    text-decoration: line-through;
}

.theme{
    background: var(--icon-moon);
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    display: block;
}

.-th-sun{
    background: url("../images/icon-sun.svg");
}