:root{
    /*  COLORS */

    /* PRIMARY */

    --bright-blue: hsl(220, 98%, 61%);
    --checkbox-background: linear-gradient(hsl(192deg, 100%, 67%),hsl(280deg, 87%, 65%));
    
    /* TYPOGRAPHY */

    /* FONT FAMILY */
    --main-font-family: 'Josefin Sans', sans-serif;

    /* FONT SIZE */
    --general-font-size: 18px;

    /* FONT WEIGHT */
    --normal-font-weight: 400;
    --strong-font-weight:700;
}