:root{
    /*  COLORS */

    /* PRIMARY */

    --bright-blue: hsl(220, 98%, 61%);
    --checkbox-background: url(../../images/icon-check.svg), linear-gradient(#57ddff, #c058f3);
    --dark-gray: #9495A5;
    --very-light-gray: #F2F2F2;
    --very-dark-gray: #161722;
    --list-background-dark: #25273c;;
    --font-color-white: #FFFFFF;
    
    /* IMAGE */
    --bg-mobile-light: url(../images/bg-mobile-light.jpg);
    --bg-mobile-dark: url(../images/bg-mobile-dark.jpg);
    --bg-desktop-light: url(../images/bg-desktop-light.jpg);
    --bg-desktop-dark: url(../images/bg-desktop-dark.jpg);
    --icon-moon: url(../images/icon-moon.svg);
    --icon-sun: url(../images/icon-sun.svg);
    
    /* TYPOGRAPHY */
    
    /* FONT FAMILY */
    --font-family--main: 'Josefin Sans', sans-serif;
    
    /* FONT SIZE */
    --font-size--main: 18px;
    
    /* FONT WEIGHT */
    --font-weight--normal: 400;
    --font-weight--strong:700;
    
    /* ITEM CONTAINER */
    --list-background-light : #FFFFFF;
    --list-fontcolor-dark: #C8CBE7;
    --shadow-color-dark: 0px 35px 50px -15px #121212e0;
    --shadow-color-light: 0px 35px 50px -15px #d7d7db9a;

    /* TRANSITION */
    --transition: .5s;
}

.body--dark-mode{
    --list-background-light: var(--list-background-dark);
    --dark-gray: var(--list-fontcolor-dark);
    --very-light-gray: var(--very-dark-gray);
    
    --shadow-color-light: var(--shadow-color-dark);
 
    --bg-mobile-light: var(--bg-mobile-dark);
    --bg-desktop-light:var(--bg-desktop-dark);
    --icon-moon: var(--icon-sun);
}