.c-to-do__filter > li{
    display: inline;
    list-style: none;
}

.c-to-do__filter__text{
    font-family: var(--font-family--main);
    font-weight: var(--font-weight--strong);
    font-size: 1.2rem;
}