.c-to-do__container{
    align-items: center;
    display: flex;
    padding-left: 15px;
    width: 100%;

    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.c-to-do__text{
    min-height: 48px;
    padding: 1rem;
    width: 100%;

    background-color: transparent;
    border: none;
}