.c-to-do__container{
    align-items: center;
    display: flex;
    width: 100%;
    
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-bottom: .15rem;
}

.c-to-do__container--spaceEvenly{
    justify-content: space-evenly;
}

.c-to-do__container--spaceBetween{
    justify-content: space-between;
}

.c-to-do__text{
    display: flex;
    align-items: center;
    min-height: 25px;
    width: 100%;
    padding: 0 1rem;

    background-color: transparent;
    border: none;
}

/* Custom checkbox container */
.c-checkbox__container {

    display: flex;
    flex-direction: row;
    
    align-items: center;
    
    cursor: pointer;
    position: relative;
}

/* Hide the browser's default checkbox */
.checkbox--hide {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.c-checkbox__container .checkmark {
    height: 25px;
    width: 25px;
    
    background-color: var(--very-light-gray);
    
    border-radius: 50%;
}

/* When the checkbox is checked, show the checkmark with the gradient background */
.c-checkbox__container input:checked ~ .checkmark {
    background: var(--checkbox-background);
    background-position: center;
    background-repeat: no-repeat;
}

.button--bgTransparent{
    display: flex;
    align-items: center;
    height: 25px;
    background-color: transparent;
    border: none;
}

.button--plusIcon{
    font-size: 30px;
}